@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-pos-bg: #f9f8f6;
    --color-pos-card: #ffffff;
    --color-pos-accent: #b08968;
    --color-pos-dark: #3d261c;

    --color-pos-danger: #c94a4a;
    --color-pos-primary: #7f5539;
    --color-pos-success: #4d7c5d;
}
